<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
<p>{{data.fname}} {{data.lname}} is {{data.age}} years old</p>

<div style="display:flex;">
  <div id='map' style='width: 400px; height: 300px; margin-right: auto;'></div>
</div>



<script src="/js/map.js"></script>
