<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<link rel="stylesheet" href="/css/map.css">
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet'>

<div id="MapContainer">
  <div id='map'></div>
</div>

<form action="/SetMarker" method="post" id="MyMapForm">
  <input type="hidden" name="lat" />
  <input type="hidden" name="lng" />
  <br><label>Name:</label>
  <input type="text" name="name" />
  <br><label>describe:</label>
  <input type="text" name="describe" />
  <br><label>submission:</label>
  <input type="datetime-local" name="submission" />
  <br><label>time_slot:</label>
  <input type="datetime-local" name="time_slot" />

      <button type="submit">Submit marker</button>
</form>

<script src="/js/map.js"></script>
