<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo">
        <a href="/" class="nav-link"></a>
        <span class="link-text">{{title}}</span>
        <i class="fas fa-brain" class="fa-primary"></i>

    </li>

    <li class="nav-item">
      <a href="/" class="nav-link">
        <span class="link-text">Home</span>
        <i class="fas fa-home" class="fa-secondary"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="/map" class="nav-link">
        <span class="link-text">Map</span>
        <i class="fas fa-map-marked-alt" class="fa-secondary"></i>
        
      </a>
    </li>
    <li class="nav-item">
      <a href="/calendar" class="nav-link">
        <span class="link-text">Calendar</span>
        <i class="fas fa-calendar-day" class="fa-secondary"></i>
      </a>
    </li>
    <li class="nav-item" id="themeButton">
      <a href="./" class="nav-link">
        <span class="link-text">Theme Toggle</span>
        <i class="fas fa-coffee" class="fa-secondary"></i>
      </a>
    </li>
  </ul>
</nav>
